USE [master]
GO
/****** Object:  Database [gestion_db]    Script Date: 2025-10-14 11:37:42 ******/
CREATE DATABASE [gestion_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gestion_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gestion_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gestion_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\gestion_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [gestion_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [gestion_db]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 2025-10-14 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL UNIQUE,
	[Phone] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commandes]    Script Date: 2025-10-14 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commandes](
	[IdCommande] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceCommande] [nvarchar](20) NOT NULL UNIQUE,
	[DateCommande] [date] NOT NULL,
	[Montant] [decimal](10, 2) NOT NULL,
	[IdClient] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commandes] 
ADD CONSTRAINT [FK_Commandes_IdClient]
FOREIGN KEY([IdClient]) 
REFERENCES [dbo].[Clients]([IdClient]) 
ON DELETE CASCADE;
GO
ALTER TABLE [dbo].[Commandes] CHECK CONSTRAINT [FK_Commandes_IdClient]
GO
USE [master]
GO
